
    @*<div class="container">*@
        <header>
            <h1>Lerning Words</h1>
        </header>
        <section>
            <fieldset>
                <legend>Enter your new word today!</legend>
                <label for="englishWordText">Engllish Word</label>
                <textarea id="englishWordText" autofocus></textarea>

                <label for="traslatedText">Traslation</label>

                <textarea id="traslatedText" rows="4" cols="50"></textarea>

                <label for="descriptionText">Description</label>
                <textarea id="descriptionText"></textarea>
                <br />
            </fieldset>
            <fieldset>
                <legend>
                    Preview
                </legend>
                <div id="preview"></div>
            </fieldset>

            <button id="saveButton" class="btn-large" onclick="saveEnlatado()">Save</button>
        </section>

    @*</div>*@


