
    @*<div class="container">*@
        <header>
            <h1>Enter your new word today!</h1>
        </header>
<section>
    
    <div class="row-fluid">
        <div class="span12">
           English
            <div class="row-fluid">
                <div class="span6">
                    
                    <div class="row-fluid">
                        <div class="span6"><label for="englishWordText">Word</label>
                        </div>
                        <div class="span6"><textarea id="englishWordText" autofocus></textarea>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6"><label for="englishDescriptionText">Description</label></div>
                        <div class="span6"><textarea id="englishDescriptionText" autofocus></textarea></div>
                    </div>
                </div>
                <div class="span6">
                    Spanish
                    <div class="row-fluid">
                        <div class="span6"><label for="traslatedText">Traslation</label>
                        </div>
                        <div class="span6"><textarea id="traslatedText" rows="4" cols="50"></textarea>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6"><label for="translatedDescriptionText">Description</label>
                        </div>
                        <div class="span6"><textarea id="translatedDescriptionText" autofocus></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


        <button id="saveButton" class="btn-large" onclick="saveWord()">Save</button>
</section>

    @*</div>*@


